.testimonials-section {
  background-color: #f9f5f0; /* Beige background */
  color: #333;
  padding: 60px 20px;
  text-align: center;
}

.testimonials-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #001845;
  font-family: "Poppins", sans-serif;
}

.testimonial-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.star-rating {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.6); /* Glass-like effect */
  color: #333;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  backdrop-filter: blur(10px); /* Glass blur */
  border: 1px solid rgba(0, 0, 0, 0.1); /* subtle border */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.testimonial-card .feedback {
  font-size: 16px;
  margin-bottom: 20px;
}

.testimonial-card .name {
  font-weight: bold;
}

/* Responsive */
@media (max-width: 468px) {
  .testimonial-card {
    padding: 20px;
  }

  .testimonials-section h2 {
    font-size: 24px;
  }

  .testimonial-card .feedback {
    font-size: 15px;
  }
}
